@import "styles/scss";

.header {
  &__title {
    color: $color-text-title;
    &-2{
        color: white;
    }
  }
  &__filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $color-text-naranja;
    margin: 2rem 0rem;
  }
}

.categories {
  &__category {
  }
  &__subcategory {
    background-color: $color-primary-opacity;
    padding: 3rem 3rem;
    border-radius: 20px;
    margin-bottom: 2rem;
  }
  &__controls {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__niveles {
      display: flex;
      // margin-left: 40px;
    }
  }
}

.container input[type=radio] {
  opacity: 1;
  cursor: pointer;
  height: 20px;
  width: 20px;
  accent-color: $color-text-naranja;
}